header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 40px;
  z-index: 100;
  position: relative;
}

.header-logo {
  display: flex;
  align-items: center;
  height:57px;
  width: 57px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px; 
  padding: 0;
  margin: 0;
}


.nav-links a {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  font-weight:600;
}
.nav-links li a {
  position: relative; 
  display: inline-block; 
  text-decoration: none; 
  transition: color 0.3s ease;
}

.nav-links li a::after {
  content: ''; 
  position: absolute;
  width: 0%;
  height: 3px; 
  bottom: -3px; 
  left: 0;
  background-color: currentColor; 
  transition: width 0.3s ease; 
}

.nav-links li a:hover::after, .nav-links li a:focus::after {
  width: 100%; 
}

.nav-links li a:hover, .nav-links li a:focus {
  font-weight: bold;
}


@media (max-width: 700px) {
  .nav-links {
    gap: 22px;
  }
}