.moving-objects-container {
  position: absolute;
  top: 12vh; /* Adjust as needed */
  width: 100%; /* Set to viewport width */
  height: 88vh; /* Adjust height as needed */
  z-index: 5;
  overflow-x: hidden; /* Hide overflow to prevent horizontal scroll */
}

@keyframes moveRight {
  from { transform: translateX(-100vw); } 
  to { transform: translateX(100vw); } 
}

@keyframes moveLeft {
  from { transform: translateX(100vw); } /* Start from the right outside the screen */
  to { transform: translateX(-100vw); } /* End to the left outside the screen */
}

.moving-object {
  position: absolute;
  z-index: 5;
}


  