.moving-objects-container {
  position: absolute;
  top: 12vh; 
  width: 100%; 
  height: 88.35vh; 
  z-index: 5;
  overflow-x: hidden; /* Hide overflow to prevent horizontal scroll */
}

@keyframes moveRight {
  from { transform: translateX(-100vw); } 
  to { transform: translateX(100vw); } 
}

@keyframes moveLeft {
  from { transform: translateX(100vw); } /* Start from the right outside the screen */
  to { transform: translateX(-100vw); } /* End to the left outside the screen */
}

.moving-object {
  position: absolute;
  z-index: 5;
}


  