.moving-objects-container {
  position: absolute;
  top: 0vh; /* Adjust as needed */
  width: 100vw; /* Set to viewport width */
  height: 100vh; /* Adjust height as needed */
  z-index: 5;
  overflow-x: hidden; /* Hide overflow to prevent horizontal scroll */
  overflow-y: hidden; /* Hide overflow to prevent horizontal scroll */

}

@keyframes moveRight {
  from { transform: translateX(-100vw); } 
  to { transform: translateX(100vw); } 
}

@keyframes moveLeft {
  from { transform: translateX(100vw); } 
  to { transform: translateX(-100vw); } 
}

.moving-object {
  position: absolute;
  z-index: 5;
}


  